Repository caicloud/log-pilot, pull requests merged in 2019-08, with the labels that each got.

#32 perf(*): higher resource limit
  release/logging-filebeat.yaml
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XS

#36 Update Filebeat version to 6.5.4 for upstream bug fix
  Makefile
  build/filebeat/Dockerfile
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/S

#35 feat(metrics): export Filebeat metrics with beat-exporter
  release/logging-filebeat.yaml
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/S

#40 feat(release): add standalone etcd node toleration
  release/logging-filebeat.yaml
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XS

#43 fix(*): monitor subprocess status
  cmd/filebeat-keeper/cmd.go
  cmd/filebeat-keeper/main.go
  cmd/filebeat-keeper/watch.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/L

#45 chore(*): add mount propagation
  release/logging-filebeat.yaml
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XS
