Repository caicloud/log-pilot, pull requests merged in 2020-07, with the labels that each got.

#99 [release-1.3] perf(releasefile): adjust resource quota
  release/logging-filebeat.yaml
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/S

#100 feat(*): support using BasicAuth for Elasticsearch
  build/filebeat-keeper/filebeat.yml.tpl
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XS

#102 [master]feat(pod):add regex support for pod name
  cmd/log-pilot/main.go
  pilot/configurer/filebeat/filebeat.go
  pilot/configurer/filebeat/filebeat_test.go
  pilot/discovery/blackwhitelist.go
  pilot/discovery/blackwhitelist_test.go
  pilot/discovery/discovery.go
  release/logging-filebeat.yaml
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/L
